body{
    margin:0;
}
.abril-font{
    font-family: "Abril Fatface", times, serif;

}
#spinner{
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: auto;
    align-items: center;
    justify-content: center;
}

#spinner i{
     width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#main-container{
    display: none;
    flex-direction: column;
    margin: 0;

}

a.nostyle{
 text-align: center;
  color: inherit; /* Inherit the text color from the parent element */
  text-decoration: none; /* Remove the underline */

}

a.nostyle:hover{
    color: inherit;
    
}
/* Animations and other effects */


/* 1. Define the Keyframe Animation */
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100px); /* Start 100px below its final position */
    opacity: 0;                   /* Start completely invisible */
  }
  100% {
    transform: translateY(0);     /* End at its original position */
    opacity: 1;                   /* End fully visible */
  }
}

.animate-me{
    opacity:0;
}
.active1{
    animation: slideInFromBottom 1s ease-out forwards;
}


/* Base style for landing section */
.landing-section{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(77, 55, 48, 0.2)),
    url("images/hero_3.jpg");
    background-size: cover;
    background-color: rgba(0,0,0,0);
    min-height: 95vh;
    color: #fff;
}
.header{
    display: flex;
    flex-direction: row; 
    padding: 50px 10px 0 20px;
    font-size: 35px;
    font-weight: bold;
}
.navigation-icon{
    margin-left: auto;
    z-index: 1000;
}

.landing-section-text{
    justify-items: center;
    margin: auto;
}
.main-heading{
    align-self: center;
    font-size: 6.5vw;
    font-weight: 900;
    
}
.sub-heading{
    align-self: center;
    font-size: 2.1vw;
    margin-top: 20px;
    margin-bottom: 70px;    

    animation-delay: 0.1s;
}


.menu-container{
    display:none;
    width: 100vw;
    height:100vh;
    font-family: "Abril Fatface", times, serif;   
    background-color: white;
}
.nav-menu{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    color: Black;
    justify-content: center;
    
}
.nav-menu div{
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.close-icon{
    position: fixed;
    top:50px;
    right: 10px;
}

.blog-content{
    display: flex;
    background-color: rgba(38, 45, 63, 0.05);
    padding: 10vw 8vw;
    flex-wrap: wrap;
    gap: 30px;
    align-content: center;
}

.main-blog-content{
    flex: 1 1 calc(70% - 30px/2);
    max-width: calc(70% - 30px/2);
    flex-direction: column;
    flex-wrap: wrap;
}

.blog-image-cards{
    display: flex;
    flex-wrap: wrap;
    gap:35px;
}
.blog-cards-item{
    display:flex;
    flex-direction: column;
    flex: 1 1 calc(50% - (35px*5)/6);
    max-width: calc(50% - (35px*5)/6);
    background-color: white;
}
.blog-cards-item img{
    width: 100%;
}


.blog-cards-item-text{
    padding: 20px;
    line-height: 20px;
    
}
.blog-cards-item-text h2{
    font-size: 20px;
}

.blog-cards-item-text p{
    line-height: 30px;
    color: #838b92;
}

.blog-cards-date{
    color: #7c8287;
    font-size: 15px;
}

.blog-nav{
    padding: 70px 0;
}
.blog-nav span{
    display: inline-block;
    margin:10px;
    color: #65C0BA;
    font-size: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.blog-nav span.active{
    color: white;
    border-radius: 50%;
    background-color: #65C0BA;
}

.blog-side-content{
    flex: 1 1 calc(30% - 30px/2);
    max-width: calc(30% - 30px/2);
    flex-direction: column;
}
.search-icon{
    vertical-align: middle;
}
.blog-side-search{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 40px 20px;
    gap: 5px;
}
.blog-side-search i{
    flex:1 1 calc(15% - 5px/2);
    max-width: calc(15% - 5px/2);
}
.blog-side-search input{
    flex:1 1 calc(85% - 5px/2);
    max-width: calc(85% - 5px/2);
    border: white;
}


.popular-post{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
   
}
.popular-heading{
    font-size: 20px;
    padding: 20px 0;
}
.popular-cards-item{
    display:flex;  
    padding-bottom:15px ;
    gap: 5px; 
    align-items: center;
}
.popular-cards-item img{
    width: 40%;
    height: 40%
}


.popular-cards-item-text{
    /* padding: 20px; */
    line-height: 20px;
    
}

.popular-cards-item-text p{
    line-height: 30px;
    color: #838b92;
}

.popular-cards-date{
    color: #7c8287;
    font-size: 12px;
    padding: 5px 0;
}


.categories{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    background-color: white;
    padding: 20px;
}

.categories-heading{
    padding-bottom: 20px;
    font-weight: bold;
}
.categories-item{
    display: flex;
}

.category-name{
    margin-right: auto;
}
.category-count{
    margin-left: auto;
}
hr {
  border: none; /* Remove default border */
  height: 2px; /* Set line thickness */
  background-color: black; /* Set line color */
  margin: 20px 0; /* Add space above and below */
}


.footer-container{
    padding:30px;
    background-color: #212529;
    
}

.footer-container a{
    color: white;
}

/* styles for screen with 1024 or less width */
@media (max-width:992px){
  
.landing-section{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(77, 55, 48, 0.2)),
    url("images/hero_3.jpg");
    background-size: cover;
    background-color: rgba(0,0,0,0);
    min-height: 85vh;
    color: #fff;
}
.header{
    display: flex;
    flex-direction: row; 
    padding: 50px 10px 0 20px;
    font-size: 35px;
    font-weight: bold;

}
.navigation-icon{
    margin-left: auto;
    z-index: 1000;
}
.main-heading{
    align-self: center;
    font-size: 6vw;
    font-weight: 900;
    
}
.sub-heading{
    align-self: center;
    font-size: 2.5vw;
    margin-top: 20px;
    margin-bottom: 70px;    

    animation-delay: 0.1s;
}
.menu-container{
    display:none;
    width: 100vw;
    height:100vh;
    font-family: "Abril Fatface", times, serif;   
}
.nav-menu{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    color: Black;
    justify-content: center;
    
}
.nav-menu div{
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.close-icon{
    position: fixed;
    top:50px;
    right: 10px;
}

.blog-content{
    display: flex;
    background-color: rgba(38, 45, 63, 0.05);
    padding: 10vw 6vw;
    flex-wrap: wrap;
    gap: 20px;
    align-content: center;
}

.main-blog-content{
    flex: 1 1 calc(70% - 20px/2);
    max-width: calc(70% - 20px/2);
    flex-direction: column;
    flex-wrap: wrap;
}

.blog-image-cards{
    display: flex;
    flex-wrap: wrap;
    gap:35px;
}
.blog-cards-item{
    display:flex;
    flex-direction: column;
    flex: 1 1 calc(50% - (35px*5)/6);
    max-width: calc(50% - (35px*5)/6);
    background-color: white;
}
.blog-cards-item img{
    width: 100%;
}


.blog-cards-item-text{
    padding: 20px;
    line-height: 20px;
    
}
.blog-cards-item-text h2{
    font-size: 20px;
}
.blog-cards-item-text p{
    line-height: 30px;
    color: #838b92;
}

.blog-cards-date{
    color: #7c8287;
    font-size: 15px;
}

.blog-nav{
    padding: 70px 0;
}
.blog-nav span{
    display: inline-block;
    margin:10px;
    color: #65C0BA;
    font-size: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.blog-nav span.active{
    color: white;
    border-radius: 50%;
    background-color: #65C0BA;
}

.blog-side-content{
    flex: 1 1 calc(30% - 20px/2);
    max-width: calc(30% - 20px/2);
    flex-direction: column;
}
.search-icon{
    vertical-align: middle;
}
.blog-side-search{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 40px 20px;
    gap: 5px;
}
.blog-side-search i{
    flex:1 1 calc(15% - 5px/2);
    max-width: calc(15% - 5px/2);
}
.blog-side-search input{
    flex:1 1 calc(85% - 5px/2);
    max-width: calc(85% - 5px/2);
    border: white;
}


.popular-post{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
   
}
.popular-heading{
    font-size: 20px;
    padding: 20px 0;
}
.popular-cards-item{
    display:flex;  
    padding-bottom:15px ;
    gap: 5px; 
    align-items: center;
}
.popular-cards-item img{
    width: 40%;
    height: 40%
}


.popular-cards-item-text{
    /* padding: 20px; */
    line-height: 20px;
    
}

.popular-cards-item-text p{
    line-height: 30px;
    color: #838b92;
}

.popular-cards-date{
    color: #7c8287;
    font-size: 12px;
    padding: 5px 0;
}


.categories{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    background-color: white;
    padding: 20px;
}

.categories-heading{
    padding-bottom: 20px;
    font-weight: bold;
}
.categories-item{
    display: flex;
}

.category-name{
    margin-right: auto;
}
.category-count{
    margin-left: auto;
}
hr {
  border: none; /* Remove default border */
  height: 2px; /* Set line thickness */
  background-color: black; /* Set line color */
  margin: 20px 0; /* Add space above and below */
}
.footer-container{
    padding:30px;
    background-color: #212529;
    
}

.footer-container a{
    color: white;
}
}


/* styles for screen with 768 or less width */
@media (max-width:768px){
  
.landing-section{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(77, 55, 48, 0.2)),
    url("images/hero_3.jpg");
    background-size: cover;
    background-color: rgba(0,0,0,0);
    min-height: 80vh;
    color: #fff;
}
.header{
    display: flex;
    flex-direction: row; 
    padding: 50px 10px 0 20px;
    font-size: 35px;
    font-weight: bold;
}
.navigation-icon{
    margin-left: auto;
    z-index: 1000;
}
.main-heading{
    align-self: center;
    font-size: 6vw;
    font-weight: 900;
    
}
.sub-heading{
    align-self: center;
    font-size: 2.5vw;
    margin-top: 20px;
    margin-bottom: 70px;    

    animation-delay: 0.1s;
}
.menu-container{
    display:none;
    width: 100vw;
    height:100vh;
    font-family: "Abril Fatface", times, serif;   
}
.nav-menu{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    color: Black;
    justify-content: center;
    
}
.nav-menu div{
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.close-icon{
    position: fixed;
    top:50px;
    right: 10px;
}

.blog-content{
    display: flex;
    background-color: rgba(38, 45, 63, 0.05);
    padding: 10vw 10vw;
    flex-wrap: wrap;
    gap: 20px;
    align-content: center;
}

.main-blog-content{
    flex: 1 1 calc(100% - 20px/2);
    max-width: calc(100% - 20px/2);
    flex-direction: column;
    flex-wrap: wrap;
}

.blog-image-cards{
    display: flex;
    flex-wrap: wrap;
    gap:35px;
    justify-content: center;
}
.blog-cards-item{
    display:flex;
    flex-direction: column;
    flex: 1 1 calc(100% - (35px*5)/6);
    max-width: calc(100% - (35px*5)/6);
    background-color: white;
}
.blog-cards-item img{
    width: 100%;
}


.blog-cards-item-text{
    padding: 20px;
    line-height: 20px;
    
}

.blog-cards-item-text p{
    line-height: 30px;
    color: #838b92;
}

.blog-cards-date{
    color: #7c8287;
    font-size: 20px;
}

.blog-nav{
    padding: 70px 0;
}
.blog-nav span{
    display: inline-block;
    margin:10px;
    color: #65C0BA;
    font-size: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.blog-nav span.active{
    color: white;
    border-radius: 50%;
    background-color: #65C0BA;
}

.blog-side-content{
    flex: 1 1 calc(100% - 20px/2);
    max-width: calc(100% - 20px/2);
    flex-direction: column;
}
.search-icon{
    vertical-align: middle;
}
.blog-side-search{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 40px 20px;
    gap: 5px;
}
.blog-side-search i{
    flex:1 1 calc(15% - 5px/2);
    max-width: calc(15% - 5px/2);
}
.blog-side-search input{
    flex:1 1 calc(85% - 5px/2);
    max-width: calc(85% - 5px/2);
    border: white;
}


.popular-post{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
   
}
.popular-heading{
    font-size: 20px;
    padding: 20px 0;
}
.popular-cards-item{
    display:flex;  
    padding-bottom:15px ;
    gap: 5px; 
    align-items: center;
}
.popular-cards-item img{
    width: 40%;
    height: 40%
}


.popular-cards-item-text{
    /* padding: 20px; */
    line-height: 20px;
    
}

.popular-cards-item-text p{
    line-height: 30px;
    color: #838b92;
}

.popular-cards-date{
    color: #7c8287;
    font-size: 12px;
    padding: 5px 0;
}


.categories{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    background-color: white;
    padding: 20px;
}

.categories-heading{
    padding-bottom: 20px;
    font-weight: bold;
}
.categories-item{
    display: flex;
}

.category-name{
    margin-right: auto;
}
.category-count{
    margin-left: auto;
}
hr {
  border: none; /* Remove default border */
  height: 2px; /* Set line thickness */
  background-color: black; /* Set line color */
  margin: 20px 0; /* Add space above and below */
}

.footer-container{
    padding:30px;
    background-color: #212529;
    
}

.footer-container a{
    color: white;
}



}

@media (max-width:600px){
  .landing-section{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(77, 55, 48, 0.2)),
    url("images/hero_3.jpg");
    background-size: cover;
    background-color: rgba(0,0,0,0);
    min-height: 80vh;
    color: #fff;
}
.header{
    display: flex;
    flex-direction: row; 
    padding: 50px 10px 0 20px;
    font-size: 35px;
    font-weight: bold;
}
.navigation-icon{
    margin-left: auto;
    z-index: 1000;
}
.main-heading{
    align-self: center;
    font-size: 10vw;
    font-weight: 900;
    
}
.sub-heading{
    align-self: center;
    font-size: 4vw;
    margin-top: 20px;
    margin-bottom: 70px;    

    animation-delay: 0.1s;
}

.menu-container{
    display:none;
    width: 100vw;
    height:100vh;
    font-family: "Abril Fatface", times, serif;   
}
.nav-menu{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    color: Black;
    justify-content: center;
    
}
.nav-menu div{
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.close-icon{
    position: fixed;
    top:50px;
    right: 10px;
}




.blog-content{
    display: flex;
    background-color: rgba(38, 45, 63, 0.05);
    padding: 10vw 0vw;
    flex-wrap: wrap;
    gap: 20px;
    align-content: center;
}

.main-blog-content{
    flex: 1 1 calc(100% - 20px/2);
    max-width: calc(100% - 20px/2);
    flex-direction: column;
    flex-wrap: wrap;
}

.blog-image-cards{
    display: flex;
    flex-wrap: wrap;
    gap:35px;
    justify-content: center;
}
.blog-cards-item{
    display:flex;
    flex-direction: column;
    flex: 1 1 calc(100% - (35px*5)/6);
    max-width: calc(100% - (35px*5)/6);
    background-color: white;
}
.blog-cards-item img{
    width: 100%;
}


.blog-cards-item-text{
    padding: 20px;
    line-height: 20px;
    
}

.blog-cards-item-text p{
    line-height: 30px;
    color: #838b92;
}

.blog-cards-date{
    color: #7c8287;
    font-size: 20px;
}

.blog-nav{
    padding: 70px 0;
}
.blog-nav span{
    display: inline-block;
    margin:10px;
    color: #65C0BA;
    font-size: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.blog-nav span.active{
    color: white;
    border-radius: 50%;
    background-color: #65C0BA;
}

.blog-side-content{
    flex: 1 1 calc(100% - 20px/2);
    max-width: calc(100% - 20px/2);
    flex-direction: column;
}
.search-icon{
    vertical-align: middle;
}
.blog-side-search{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 40px 20px;
    gap: 5px;
}
.blog-side-search i{
    flex:1 1 calc(15% - 5px/2);
    max-width: calc(15% - 5px/2);
}
.blog-side-search input{
    flex:1 1 calc(85% - 5px/2);
    max-width: calc(85% - 5px/2);
    border: white;
}


.popular-post{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
   
}
.popular-heading{
    font-size: 20px;
    padding: 20px 0;
}
.popular-cards-item{
    display:flex;  
    padding-bottom:15px ;
    gap: 5px; 
    align-items: center;
}
.popular-cards-item img{
    width: 40%;
    height: 40%
}


.popular-cards-item-text{
    /* padding: 20px; */
    line-height: 20px;
    
}

.popular-cards-item-text p{
    line-height: 30px;
    color: #838b92;
}

.popular-cards-date{
    color: #7c8287;
    font-size: 12px;
    padding: 5px 0;
}


.categories{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    background-color: white;
    padding: 20px;
}

.categories-heading{
    padding-bottom: 20px;
    font-weight: bold;
}
.categories-item{
    display: flex;
}

.category-name{
    margin-right: auto;
}
.category-count{
    margin-left: auto;
}
hr {
  border: none; /* Remove default border */
  height: 2px; /* Set line thickness */
  background-color: black; /* Set line color */
  margin: 20px 0; /* Add space above and below */
}


.footer-container{
    padding:30px;
    background-color: #212529;
    
}

.footer-container a{
    color: white;
}  
}
