body{
    margin:0;
}
.abril-font{
    font-family: "Abril Fatface", times, serif;

}
#spinner{
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: auto;
    align-items: center;
    justify-content: center;
}

#spinner i{
     width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#main-container{
    display: none;
    flex-direction: column;
    margin: 0;

}
/* Animations and other effects */
.button button:hover{
    background-color: white;
    color: black;
}
.button button{
    transition-duration: 0.5s;
}

#video-icon:hover{
    color:#595f65;
}

/* 1. Define the Keyframe Animation */
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100px); /* Start 100px below its final position */
    opacity: 0;                   /* Start completely invisible */
  }
  100% {
    transform: translateY(0);     /* End at its original position */
    opacity: 1;                   /* End fully visible */
  }
}

/* 2. Define the Keyframe Animation */
@keyframes slideInFromCorner {
  0% {
    transform: translateX(-100px) translateY(100px); /* Start 100px below its final position */
    opacity: 0;                   /* Start completely invisible */
  }
  100% {
    transform: translateX(0) translateY(0);     /* End at its original position */
    opacity: 1;                   /* End fully visible */
  }
}

/* 3. Define the Keyframe Animation */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100px); /* Start 100px below its final position */
    opacity: 0;                   /* Start completely invisible */
  }
  100% {
    transform: translateX(0);     /* End at its original position */
    opacity: 1;                   /* End fully visible */
  }
}
.animate-me{
    opacity:0;
}
.active1{
    animation: slideInFromBottom 1s ease-out forwards;
}

.animate-me2{
    opacity:0;
}
.active2{
    animation: slideInFromCorner 1s ease-out forwards;
}

.active3{
    animation: slideInFromLeft 1s ease-out forwards;

}
.animate-me3{
    opacity: 0;
 
}
/* Base style for landing section */
.landing-section{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(77, 55, 48, 0.2)),
    url("images/slider_1.jpg");
    background-size: cover;
    background-color: rgba(0,0,0,0);
    min-height: 750px;
    color: #fff;
}
.header{
    display: flex;
    flex-direction: row; 
    padding: 50px 10px 100px 20px;
    font-size: 35px;
    font-weight: bold;
}
.navigation-icon{
    margin-left: auto;
    z-index: 1000;
}
.main-heading{
    align-self: center;
    font-size: 7vw;
    font-weight: 900;
    
}
.sub-heading{
    align-self: center;
    font-size: 2vw;
    margin-top: 20px;
    margin-bottom: 70px;    

    animation-delay: 0.1s;
}
.button{
    align-self: center;
}
.button button{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    width: 20vw;
    height: 60px;
    font-size: 2.5vw;
    font-weight: lighter;
    color: white;

    
    animation-delay: 0.2s;
}


.scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: 30px;
    font-size: 1vw;
}



.menu-container{
    display:none;
    width: 100vw;
    height:100vh;
    font-family: "Abril Fatface", times, serif;   
}
.nav-menu{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    color: Black;
    justify-content: center;
    
}
.nav-menu div{
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.close-icon{
    position: fixed;
    top:50px;
    right: 10px;
}



.video-section{
    display: flex;
    padding: 10vw 8vw;

}
.image-card{
    width: 40vw;
    padding: 0 2vw;

    animation-delay: 0.1s;
}
.image-card img{
    width: 100%;
    height:auto;
}
.image-text{
    width: 40vw;
    padding: 5vw 2vw;
   
    animation-delay: 0.2s;
}
.image-text p{
    font-size: 19px;
    line-height: 30px;
    color:#838b92;

}

.video-icon{
    display: flex;
    
}

#video-icon{
    color: #65C0BA;

}
.video-icon span{
    padding:10px;
}

.services{
    display:flex;
    width:98vw;
    background-color: rgba(38, 45, 63, 0.05);
    padding: 8vw;
    flex-direction: column; 
    text-align: center;
    align-items: center;
}
.services-text{
    animation-delay: 0.1s;
}
.services-text-p{
    padding:0 15vw;
    font-size: 20px;
    line-height: 30px;
    color:#838b92;

}
.services-cards{
    display: flex;
    margin: 20px;
    animation-delay: 0.2s;
}
.services-cards div{
    display:flex;
    flex-direction: column;
    width: 28vw;
    line-height: 30px;
    align-items: center;
    padding: 0 15px;
    
}
.services-cards-image{
    width:30%;
    height:auto;

}
.services-cards h2{
    font-family: "Abril Fatface", times, serif;
    font-size:2.5vw;

}

.services-cards div span{
        color:#838b92;

}
.carousel-blog{
display:flex;
flex-direction: column;
background-image:linear-gradient(-185deg,
white 0%,white 34.99%, #65C0BA 35.05%, #65C0BA 100%) ;
align-items: center;
padding:100px;
}

.carousal-text{
    width:60vw;
    padding: 10px;
    text-align: center;
    animation-delay: 0.1s;
  
}

.carousal-heading{
    font-size: 60px;
}
.carousal-text h1{
    font-size: 70px;
    line-height: 70px;
    font-weight: 10;
}

.carousal-text p{
    line-height: 30px;
    font-size: 20px;
    padding:0 15px;
    color: #838b92;

}

.main-carousel-container{
  display: flex;
  width:80vw;
  margin: 0 auto;
  animation-delay: 0.2s;
}

.blog-text{
    width:60vw;
    padding: 100px 0 50px 0;
    text-align: center;
  
}
.blog-text h1{
    font-size: 70px;
    line-height: 70px;
    font-weight: 10;
}

.blog-text p{
    line-height: 30px;
    font-size: 20px;
    padding:0 15px;
    color: #d8e2ea;
}

.blog-cards{
    display:flex;
    margin: 0 50px;
}
.blog-cards-item{
    display:flex;
    flex-direction: column;
    width: 25vw;
    background-color: white;
    margin: 15px;
}

.blog-cards-item img{
    width: 100%;
}
.blog-cards-item-text{
    padding: 20px;
    line-height: 20px;
    
}

.blog-cards-item-text p{
    line-height: 30px;
    color: #838b92;
}

.blog-cards-date{
    color: #7c8287;
}
.customers{
    display: flex;
    flex-direction: column;
    background-color: rgba(38, 45, 63, 0.05);
    padding: 100px 5px;  
    align-items: center; 
}
.customers-cards{
    display: flex;
    flex-direction: row;
    
}
.customers-cards-item{
    display: flex;
    flex-direction: column;
    width:25vw;
    align-items: start;
    margin: 50px 15px;
    color: #595f65;
}
.customers-cards-item img{
    border-radius: 70px;
    width: 70px;
}

.destinations{
    display: flex;
    flex-direction: column;
    padding:100px 10px;

}
.destinations-text{
    display:flex;
    flex-direction: column;
    padding:0 50px 0 50px;
    align-items: center;
}
.destinations-text p{
    padding:0 180px;
    line-height: 35px;
    color: #838b92;
}

.destinations-cards{
    display:flex;
    justify-content: center;
    animation-delay: 0.2s;
}
.destinations-cards-item{
    display:flex;
    flex-direction: column;
    width: 20vw;
    margin: 50px 15px;

}

.feedback{
    display: flex;
}
.feedback i.ranking{
    margin-right:auto;
    color: #65c0ba;

}
.feedback i.reviews{
    margin-left:auto;
    color:#838b92
}

.footer-container{
    padding:30px 30px 0 30px;
    background-color: #212529;
    
}

.footer-container a{
    color: white;
}


/* breakpoint for smaller screens */
@media (max-width: 800px) {
    .landing-section{
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(rgba(77, 55, 48, 0.2)),
        url("images/slider_1.jpg");
        /* background-size: cover; */
        /* background-color: rgba(0,0,0,0); */
        /* min-height: 750px; */
        color: #fff;
    }
    .header{
        display: flex;
        flex-direction: row; 
        padding: 50px 10px 100px 20px;
        font-size: 35px;
        font-weight: bold;
    }
    .navigation-icon{
        margin-left: auto;
        z-index: 1000;
    }
    .main-heading{
        align-self: center;
        font-size: 8vw;
        font-weight: 900;
        padding: 30px 0 0 0;
    }
    .sub-heading{
        align-self: center;
        font-size: 3vw;
        margin-top: 20px;
        margin-bottom: 70px;
    }
    .button{
        align-self: center;
    }
    .button button{
        background-color: transparent;
        border: 2px solid white;
        border-radius: 5px;
        width: 80vw;
        height: 60px;
        font-size: 4vw;
        color: white;
    }

    .scroll{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: auto;
        margin-bottom: 30px;
        font-size: 2vw;
    }

 

    /* video section */
    .video-section{
        display: flex;
        flex-direction: column;
        padding: 10vw 0vw;
        align-items: center;

    }
    .image-card{
        width: 95vw;
    }
    .image-card img{
        width: 100%;
        height: auto;
    }
    .image-text{
        width: 95vw;
        padding: 5vw 2vw;
    }
    .image-text p{
        font-size: 15px;
        line-height: 30px;
    }

    .video-icon{
        display: flex;
        color:#65C0BA
        
    }
    .video-icon span{
        padding:10px;
    }

    .services{
        display:flex;
        width:100vw;
        background-color: rgba(38, 45, 63, 0.05);
        padding: 6vw;
        flex-direction: column; 
        text-align: center;
    }
    .services-text-p{
        padding:0 0 10vw 0;
        font-size: 15px;
        line-height: 30px;
    }
    .services-cards{
        display: flex;
        flex-direction: column;
        margin: 0 20px;
        align-items: center;
        
    }
    .services-cards div{
        display:flex;
        flex-direction: column;
        width: 100vw;
        line-height: 30px;
        /* align-items: center; */
        padding: 0 20px 10px 20px;
    }
    .services-cards div h1{
        font-family: "Abril Fatface", times, serif;
;
    }
    .services-cards-image{
        width:25%;
        height:auto;
        padding: 20px;

    }
    .services-cards h2{
    font-family: "Abril Fatface", times, serif;
    font-size: 30px;

}
    .carousel-blog{
    display:flex;
    flex-direction: column;
    background-image:linear-gradient(-185deg,
    white 0%,white 19.91%, #65C0BA 19.95%, #65C0BA 100%) ;
    align-items: center;
    /* padding:100px; */
    }

    .carousal-text{
        width:100vw;
        padding: 10px;
        text-align: center;
    
    }

    .carousal-heading{
        font-size: 40px;
    }
   
    .carousal-text p{
        line-height: 30px;
        font-size: 15px;
        padding:0 15px;
    }

    .main-carousel-container{
    display: flex;
    width:95vw;
    margin: 5vw 0;
    align-items: center;
    }

    .blog-text{
        width:100vw;
        padding: 100px 0 50px 0;
        text-align: center;
    
    }
    .blog-text h1{
        font-size: 40px;
        line-height: 70px;
        font-weight: 10;
    }

    .blog-text p{
        line-height: 30px;
        font-size: 15px;
        padding:0 15px;
        /* color: white; */
    }

    .blog-cards{
        display:flex;
        flex-direction: column;
        /* margin: 0 50px; */
    }
    .blog-cards-item{
        display:flex;
        flex-direction: column;
        width: 95vw;
        background-color: white;
    }

    .blog-cards-item img{
        width: 100%;
    } 
    .blog-cards-item-text{
    padding: 20px;
    line-height: 20px;
}

.blog-cards-item-text p{
    line-height: 30px;
}

.blog-cards-date{
    color: #7c8287;
}
 
.customers{
    display: flex;
    flex-direction: column;
    background-color: rgba(33, 96, 253, 0.05);
    padding: 100px 0px;  
    align-items: center; 
}
.customers-cards{
    display: flex;
    flex-direction: column;
    
}
.customers-cards-item{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 20px 0px;
    width: 98vw;
    padding:20px;
    
}
.customers-cards-item img{
    border-radius: 70px;
    width: 70px;
}
.destinations{
    display: flex;
    flex-direction: column;
    width:98vw;
    padding:50px 0px;

}
.destinations-text{
    display:flex;
    flex-direction: column;
    padding:0 0px 0 0px;
    text-align: center;

}
.destinations-text p{
    padding:0 10px;
    line-height: 25px;
}

.destinations-cards{
    align-items: center;
    display:flex;
    flex-direction: column;
}
.destinations-cards-item{
    display:flex;
    width: 95vw;
    flex-direction: column;
    margin: 20px 10px;
}

.feedback{
    display: flex;
}
.feedback i.ranking{
    margin-right:auto;
    color: #65c0ba;
}
.feedback i.reviews{
    margin-left:auto;
    color: #838b92;
}


}